<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConsumerKey" value="DsUW3k0ge1XeWVbHFdIyp1sda"/>
		<add key="ConsumerSecret" value="DylnlZsqwgfHlbTTkqFE77oakZr96FK5ACGxhJvRkpRDYwYwDB"/>
		<add key="AccessToken" value="1205672205113339904-3YjCBimXG2hOMJalqj6fsliwaXEW5I"/>
		<add key="AccessTokenSecret" value="31p6xxTVJtEAbITc3kP3fyqKP0DLzA5kK3dNvmTwiO89g"/>
	</appSettings>
</configuration>